@page "/configuration"
@inject HttpClient Http
<h3>Configuration</h3>

@if (allSettings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valid From</th>
                <th>Valid Until</th>
                <th><a href="/configuration/AddSetting">Add</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var setting in allSettings)
            {
                <tr>
                    <td>@setting.Id</td>
                    <td>@setting.FromDate.ToString("dd-MM-yyy")</td>
                    <td>@setting.UntilDate.ToString("dd-MM-yyy")</td>
                    <td>
                        @if (setting.FromDate > DateTime.Now.Date)
                        {
                            <a href="/configuration/settings/@setting.Id">Edit</a>
                        }
                        else
                        {
                            <a @onclick="@(e => UpdateActiveSettingDisplay(e, setting.FromDate))">View</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Current active setting</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>@activeSetting.Id</td>
            </tr>
            <tr>
                <td>Reservation times</td>
                <td>Between @activeSetting.Workhours.StartHour &amp; @activeSetting.Workhours.EndHour</td>
            </tr>
            <tr>
                <td>Holidays</td>
                <td>
                    @foreach (var holiday in activeSetting.Holidays)
                    {
                        @holiday.Date.ToString("dd-MM-yyyy");
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>Target reservatrions</td>
                <td>@activeSetting.DaysRequiredInOffice days</td>
            </tr>
            <tr>
                <td>Reservation window</td>
                <td>@activeSetting.FutureReservationWindow days</td>
            </tr>
            <tr>
                <td>Weekend reservations</td>
                <td>@activeSetting.WeekendsAllowed</td>
            </tr>
        </tbody>

    </table>
}

@code {
    [Inject]
    public ISettingsService SettingsService { get; set; }
    public List<SettingReadViewModel> allSettings;
    private SettingReadViewModel activeSetting;

    protected override async Task OnInitializedAsync()
    {
        allSettings = await SettingsService.GetAllSettings();
        activeSetting = await SettingsService.GetActiveSetting(DateTime.Now);
    }

    async Task UpdateActiveSettingDisplay(MouseEventArgs mouseEventArgs, DateTime versionDate)
    {
        activeSetting = await SettingsService.GetActiveSetting(versionDate);
    }
}
